{% load static %}

<nav class="navbar navbar-expand-sm bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="{% static 'books_reviews/images/litrevu_logo_icon.png' %}" id="main_logo_one" alt="logo litrevu">
        <img src="{% static 'books_reviews/images/litrevu_logo_text.png' %}" id="main_logo_two" alt="logo 2 litrevu">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link pe-3 {% if request.path == '/' %}active{% endif %}" href="/">Flux</a>
        <a class="nav-link pe-3 {% if request.path == '/my_posts/' %}active{% endif %}" href="/my_posts">Posts</a>
        <a class="nav-link pe-3 {% if request.path == '/subscriptions/' %}active{% endif %}" href="/subscriptions">Subscriptions</a>
        <form method="post" action="{% url 'logout' %}" class="m-0 d-flex pe-3">
          {% csrf_token %}
          <button type="submit" class="nav-link form-control form-control-sm">Logout</button>
        </form>
      </div>
    </div>
  </div>
</nav>
