{% load static %}


<div class="card mb-5">
    <div class="row">
        <div class="col-md-2">
            <img src="{{  post.book.picture.url  }}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <div class="row align-items-center">
                    <p class="col-md-8 card-title fs-5 fw-bold fst-italic">{{  post.book.title  }}</p>
                    {% if post.rate %}
                        <p class="col-md-4 text-end">
                            {% for number in rating_loop %}
                                {% if post.rate > number %}
                                <span class="fa fa-star text-warning"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <a href="/creation?action=create_review&id={{  post.id  }}" class="btn btn-sm btn-outline-light col-md-2 offset-md-2">✒️ Answer it</a>
                    {% endif %}
                </div>
                <hr class="mb-4">
                <p class="card-text">{{  post.headline  }}</p>
                <p class="card-text mb-4">{{  post.bodyline  }}</p>
                <p class="card-text">
                    <small class="text-body-secondary">👤 {{  post.author_user   }}</small>
                    <small class="text-body-secondary ms-5">🕙 {{  post.creation_date  }}</small>
                    {% if not post.rate %}
                        <small class="text-body-secondary ms-5">👋 waiting a review</small>
                    {% endif %}
                </p>

                {% if post.ticket %}
                    <hr class="mb-4 mt-4">
                    <p class="card-text">{{  post.ticket.headline  }}</p>
                    <p class="card-text mb-4">{{  post.ticket.bodyline  }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">👤 {{  post.ticket.author_user   }}</small>
                        <small class="text-body-secondary ms-5">🕙 {{  post.ticket.creation_date  }}</small>
                        {% if post.ticket.answered %}
                            <small class="text-body-secondary ms-5">✅ answered</small>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
