#main_logo_one {
    width: 30px;
}

#main_logo_two {
    width: 90px;
}

label {
    color: rgba(var(--bs-body-color-rgb),.65);
}

#rate_radio {
  display: flex;
  justify-content: space-evenly;
}

body::-webkit-scrollbar {
  display:none;
}
